<div class="text-center">
    <figure class="m-3 p-3"><img src="./images/Usability/group_photo.jpg" width="100%" /><br /><figcaption>Group picture of the attendees at the Usability sprint.</figcaption></figure>
</div>

<p>The <a href="https://community.kde.org/Goals/Usability_%26_Productivity">Usability & Productivity</a> Sprint was held in Valencia, Spain from 19th June to 25th June and was hosted by Slimbook. In this sprint, not only the future of the usability goal was discussed but also several components were improved. The sprint was divided into two parts. In the first part, the main focus was to improve KDE's screen-capturing software <a href="https://kde.org/applications/utilities/org.kde.spectacle">Spectacle</a> and in the second part, other applications were discussed.</p>

<h3>Spectacle</h3>

<p>The first feature we worked on was that Spectacle now shows the time remaining until a screenshot is taken in the task manager. We also worked on integrating an image annotator in Spectacle.</p>

<p>The next feature was porting the Shortcuts configuration of Spectacle from KHotkeys infrastructure to KGlobalAccel. This means the shortcuts would not be located in the Custom Shortcuts part of the system settings and duplicated under KDE Daemon in Global Shortcuts but reside in their Spectacle category in the global shortcut settings. Even more important, we can now show a configuration dialog for the shortcuts inside Spectacle!</p>

<p>The issue of screenshots not being copied to the clipboard was also resolved. This was due to a bug in Klipper, KDE's clipboard app. Now you can paste screenshots into your favorite image editor or chat program after closing Spectacle.</p>

<p>An additional bigger change was to port Spectacle from its hand-rolled configuration-managing class to a KConfig XT based approach. So writing an XML file and generating the code that manages the settings and their defaults.</p>

<p>Aside from this we also worked on investigating and fixing some bugs as always. For example, the action buttons now fit into their respective list elements inside the virtual desktop settings, and you can’t get trapped inside Spectacle’s Region Selection anymore.</p>

<p>Although major changes were related to Spectacle there were discussions on other topics as well.</p>

<h3>Other Discussions</h3>

<p>One major discussion was the possibility to have wallpapers slideshow in a particular order in addition to the current random sequence. For now, we implemented it to sort in alphabetical order and based on the time the pictures were modified.</p>

<p>The user experience of Purpose, the framework used for sharing stuff, was also improved. Cancelling a share now doesn’t show an error any more. The share dialogs for KDE Connect and Bluetooth got a huge makeover. The share menu now shows ellipsis where semantically appropriate. We then polished the menus we implemented for sharing via Purpose in Gwenview.</p>

<p>Also, a more human-friendly sort order description in Dolphin was implemented. We had big discussions about the discoverability of widget settings and agreed on having a global edit mode where everything on your desktop will be configurable. Another point of discussion was the right-click menu of the plasmoids in your panel that can be confusing when they include multiple very similar entries. We also touched upon the behavior of the task manager and multi-screen configuration.</p>
<p>The greatest thing about this sprint was that not only that there were discussions on features and bugs fixes, but that there were discussions on bigger changes, directions for the future, ideas sharing and brainstorming.</p>
