<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="http://wikitolearn.org/" target="_blank"><img src="images/wikitolearn-logo.png"/></a> <a href="https://www.kde.org/plasma-desktop" target="_blank"><img src="images/plasma-logo.png"/></a> WikiToLearn and Plasma Sprint at CERN
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>In March 2016, the yearly meeting of KDE's Plasma team was held in Geneva, kindly hosted by the European Centre for Nuclear Research (CERN - http://home.cern/). Other groups were also present at the meeting - WikiToLearn, the Visual Design Group, and the Wiki cleanup team.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>This created a great opportunity to think outside of the Plasma box, work face-to-face, and tackle problems together. The Plasma team discussed many activities that are currently in progress or need more attention, but there was also time to sit down and code. The result was a nice mix of hands-on activities and daydreams about the future. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/cern.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>WikiToLearn and Plasma Sprint at CERN</h3>
                                    <p>What a Place for Enjoying a Sprint</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/cern.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>As the Wayland port is nearing completion, the Plasma team had a closer look at its current state. The developers identified and fixed previously undiscovered bugs, reviewed and merged code that lived in branches, and discussed holes in the implementation. Another ongoing effort is dividing the work on Wayland among more people. Together with the Visual Design Group, many smaller and bigger issues have been fixed. One of the latter was the redesigned settings module for Plasma themes, featuring live previews and a more user-friendly design. The WikiToLearn team was represented by 20 people, which is four times more than at their first sprint in Bormio. They discussed the growth that their community has seen over six months, the importance of what they are doing for the open source community, and their approach to open education. WikiToLearn will continue to focus on improving the quality of their product, listening to their users' feedback, and providing a user-friendly platform. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
